<p>
  order-meanu works!
</p>
<button type="button" class="btn btn-light margin_right_10">麻婆豆腐</button>
<button type="button" class="btn btn-light margin_right_10">鱼香肉丝</button>
<button type="button" class="btn btn-light margin_right_10">水煮牛肉</button>
<button type="button" class="btn btn-light margin_right_10">宫保鸡丁</button>
<h2>{{slected_name}}</h2>
<form>
  <div class="checkbox">
    <label class="margin_right_10"><input type="checkbox" value="">豆腐</label>
    <label class="margin_right_10"><input type="checkbox" value="">辣椒</label>
    <label class="margin_right_10"><input type="checkbox" value="">鱼</label>
    <label class="margin_right_10"><input type="checkbox" value="">蔬菜丝</label>
    <label class="margin_right_10"><input type="checkbox" value="">豆腐干丝</label>
    <label class="margin_right_10"><input type="checkbox" value="">牛肉</label>
    <label class="margin_right_10"><input type="checkbox" value="">鸡肉</label>
    <label class="margin_right_10"><input type="checkbox" value="">花生</label>
    <label class="margin_right_10"><input type="checkbox" value="">培根</label>
  </div>
</form>

<input class="btn btn-primary" type="submit" value="Submit">